.welcome--container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.welcome--left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome--left > img {
  width: 550px;
  height: 550px;
}

.welcome--right {
  min-width: 45vw;
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.welcome--right > h1 {
  font-size: 4.2rem;
  color: #e7e9ea;
  font-weight: 700;
  letter-spacing: -0.1rem;
}

.welcome--right > h4 {
  font-size: 1.9rem;
  text-align: left;
  color: #e7e9ea;
  font-weight: 780;
}

.welcome--right > p {
  font-size: 1rem;
  text-align: left;
  color: #e7e9ea;
  font-weight: 780;
}

.welcome--separator-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.welcome--separator-line {
  flex-grow: 1;
  height: 1px;
  background-color: rgb(78, 78, 78);
  max-width: 135px;
}

.welcome--separator-text {
  padding: 0 10px;
  color: #e7e9ea;
}

.welcome--create-account-btn,
.welcome--sign-in-btn {
  width: 300px;
  height: 40px;
  margin: 0px 0px 8px;
  border-radius: 20px;
}

.welcome--create-account-btn {
  background-color: #1d9bf0;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 0.9rem;
  transition: background 0.2s;
}

.welcome--create-account-btn:hover {
  background-color: #157bc8;
}

.welcome--sign-in-btn {
  background-color: black;
  color: #1d9bf0;
  border: 1px solid rgb(83, 100, 113);
  transition-duration: 0.2s;
  font-weight: 800;
  transition: background 0.2s;
}

.welcome--sign-in-btn:hover {
  background-color: #030c13;
}
