.Menu {
  max-height: 100vh;
  max-width: 259px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 8px;
  padding-right: 8px;

  @media (min-height: 600px) {
    overflow-y: auto;
  }
}

.Logo {
  display: flex;
  align-items: center;
  height: 50px;
  width: 50px;
}
