.tweet-box{
    padding: 15px;
    border: 1px solid #565656;
    display: flex;
    flex-direction: column;
    color: white;
}

.user-photo-container{
    display: flex;
    padding: 10px;
    border-radius: 10px;
}

.tweet-input_box {
    border-style: none;
    padding: 10px;
    width: 100%;
    line-height: 1.5;
    font-size: 0.8rem;
    letter-spacing: 1px;
    background-color: black;
    display: flex;
    align-items: center;
    margin-top: 5px;
    color: white;
}

.button_input_box {
    display: flex;
    justify-content: right;
    padding: 5px;
}

.container-form_box{
    display: flex;
}
