.main-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 16px 0 16px;
  border-left: 1px solid rgb(78, 78, 78);
  border-right: 1px solid rgb(78, 78, 78);
  position: relative;

  &--content {
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 15px;
  }

  &--date {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(113, 118, 123);
    margin-bottom: 16px;
    margin-top: 16px;
  }
}
