.feed-page--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid rgb(78, 78, 78);
}

.feed-page--h4 {
  font-size: 1.2rem;
  color: #e7e9ea;
  font-weight: 780;
}
