.button_submit_container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.button_submit{
    color: #00acee;
    border: 1px solid #808080;
    width: 100%;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1em;
}
