.comment-card {
  &--header {
    display: flex;
    gap: 5px;

    &-user {
      display: flex;
      align-items: center;
    }
  }

  &--name {
    font-size: 0.95rem;
    font-weight: 700;
  }

  &--username {
    font-size: 0.95rem;
    font-weight: 400;
    color: rgb(113, 118, 123);
  }

  &--date {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(113, 118, 123);
  }
}
