.back-arrow-header {
  &--header {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 7px;
    border-left: 1px solid rgb(78, 78, 78);
    border-right: 1px solid rgb(78, 78, 78);
  }

  &--back-arrow-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  &--back-anchor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;

    &:hover {
      background-color: #272727;
    }
  }

  &--header-title {
    line-height: 50px;
    font-size: 1.3rem;
    font-weight: 700;
  }
}
